@media (max-width: 880px){
    .hamburger {
        display: block;
        
    }

    .nav-bar, .search-container {
        display: none;
        width: 100%;
    }
    .nav-bar.active{
        display: block;
        margin: 1rem;
    }
    .nav-bar.active ul{
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
    .search-container.active {
        display: flex;
        margin-top: 1rem;
    }
    .destaque-carrossel {
        height: 250px;
    }
    .catalogo{
        display: flex;
        width: 100%;
        
    }
    .grade-animes{
        display: flex;

    }
    .anime-card{
        width:150px;
    }

    .anime-card img{
        padding:5px;
        height: 100px;
        width: 180px;
        
    }
}

@media (min-width: 375px){
    .catalogo{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .grade-animes{
        display: flex;
        justify-content: center;
        
        
    }
    
    .anime-card img {
        width: 135px;
        padding: 5px;
        height: 90px;
        object-fit: cover;
    }
}